* {
  background-color: #0a0c0d;
  height: 100vh;
}


.object {

  width: 100px;
  height: 100px;
  background-color: #0CB1C4;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
   transform: rotate(3deg);
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /*transform: rotate(.03turn);  */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: show;
  margin: auto;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
