<div class="mmain p-3">

  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h2 class="fw-bold">Completed</h2>
      <label for="">Monday, March 25</label>
    </div>

    <div class="mb-0 position-relative d-flex">

      <div class="icon-button btn btn-icon text-white ms-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View all Daily, Weekly and Monthly report of your Shop" routerLink="/" style="background-color: rgb(5,5,22)">
        <i class="bi bi-filter text-white"></i>
      </div>

      <select class="form-select form-control" id="dailychart">
        <option selected="">Today</option>
        <option value="aug">This Week</option>
        <option value="jul">This Month</option>
      </select>
    </div>
  </div>

  <hr>


  <!--  Todo Form here-->
  <div class="card p-2 mt-2">
    <div class="caa-l d-flex align-items-start">
      <div class="first ms-2">
        <input style="transform: scale(1.5)" type="checkbox" name="" class="form-check" id="">
      </div>
      <div class="second ms-3">
        <h6 style="text-decoration: line-through">Working on the Dashboard Tallyc <label for="" class="ms-3" style="font-size: 12px; margin-top:  -20px">
          <i class="bi bi-tags-fill text-black"></i> New Task
        </label> </h6>

      </div>

      <div class="third justify-content-end">
        <a href="" class="ms-3" style="font-size: 12px; color: red">
          <i class="bi bi-clipboard-heart text-danger"></i> Remove
        </a>
      </div>
    </div>
  </div>
  <!--  Todo Form end  here-->

  <div class="card p-2 mt-2">
    <div class="caa-l d-flex align-items-start">
      <div class="first ms-2">
        <input style="transform: scale(1.5)" type="checkbox" name="" class="form-check" id="">
      </div>
      <div class="second ms-3">
        <h6 style="text-decoration: line-through">Go to the NMB Bank <label for="" class="ms-3" style="font-size: 12px; margin-top:  -20px">
          <i class="bi bi-tags-fill text-black"></i> New Task
        </label> </h6>

      </div>

      <div class="third justify-content-end">
        <a href="" class="ms-3" style="font-size: 12px; color: red">
          <i class="bi bi-clipboard-heart text-danger"></i> Remove
        </a>
      </div>
    </div>
  </div>
  <div class="card p-2 mt-2">
    <div class="caa-l d-flex align-items-start">
      <div class="first ms-2">
        <input style="transform: scale(1.5)" type="checkbox" name="" class="form-check" id="">
      </div>
      <div class="second ms-3">
        <h6 style="text-decoration: line-through">Send Email to Tallyc Customers <label for="" class="ms-3" style="font-size: 12px; margin-top:  -20px">
          <i class="bi bi-tags-fill text-black"></i> New Task
        </label> </h6>

      </div>

      <div class="third justify-content-end">
        <a href="" class="ms-3" style="font-size: 12px; color: red">
          <i class="bi bi-clipboard-heart text-danger"></i> Remove
        </a>
      </div>
    </div>
  </div>
</div>
